h1 {
  background-color: dodgerblue;
  font-size: 2em;
}

h2 {
  color: red;
  background-color: deepskyblue;
  font-size: 1.5em;
}

body {
  background-color: aqua;
}

h1 {
  margin: 1em 0.5em; 
}

h2 {
  background-color: orange;
  margin: 3em 0.5em; 
}

p {
  background-color: darkred;
  margin: 2em 0.5em; 
} 

footer {
  background-color: violet;
  margin: 6em 0.5em;
}

ol, li, ul {
  margin: 2em 0.5em;
}

ol {
  background-color: plum;
  list-style-type: decimal;
  list-style-position: inside;
}

ul {
  background-color: yellow;
  list-style-type:circle;
  list-style-position: inside;
}